@using WebApplication5.ViewModels.Films
@using WebApplication5.Enum

@model FilmsAddEdit

@{

    Layout = null;
 }

<!DOCTYPE html>

<html>
<head>
    <link />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Registration </h1>
   <form>
       <div>
            <label>
                <input asp-for="Name" placeholder="Name" />
            </label>
       </div>
       
    <div>

       <label>
           <input  asp-for ="Description"  Description />
       </label>
    </div>

        <label>
            <input  asp-for="DOC"/>
        </label>
    </div>

    <div>
        <label>
            <input asp-for ="AllowAge" placeholder="AllowAge"/>
        </label>
    </div>
    <div>
        <label>
            <select asp-for  = "Lenguage" asp-items="Html.GetEnumSelectList<LenguageEnum>()">
                <option> ----Select----</option>
            </select>
        </label>
    </div>
        <div>
            <label>
                <select asp-for="Quality" asp-items="Html.GetEnumSelectList<QualityEnum>()">
                    <option> ----Select----</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                <select asp-for="Genre" asp-items="Html.GetEnumSelectList<GenreEnum>()">
                    <option> ----Select----</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                <input  asp-for = "DirectorId"  />
            </label>
        </div>


   </form>
</body>
</html>
